<div class="container">
  <div class="row top">

    <div class="col-md-8">
      <h2><%= @user.user_name %>'s Statistics Dashboard
        <small>Personal Game Stats</small></h2>
    </div>

    <div class="col-md-4">
      <h2></h2>
    </div>
  </div>

  <div class="row">
    <h3>Last 5 Games - Correct Answers</h3>
    <script id="csv" type="text/csv"><%= last_five_player_rounds(local_rounds_collection(@user.rounds)) %></script>
    <div class="chart">

    </div>
  </div>

  <div class="row">
    <table class="table table-hover">
      <thead>
        <tr>
          <td><strong>Date</strong></td>
          <td><strong>Game</strong></td>
          <td><strong>Round</strong></td>
          <td><strong>Correct Answers</strong></td>
          <td><strong>Wrong Guesses</strong></td>
          <td><strong>Total Answered</strong></td>
        </tr>
      </thead>

      <tbody class="table-striped table-hover">
        <% local_rounds_collection(@user.rounds).each do |round| %> 
        <tr>
          <td><%= round[:date] %></td>
          <td><%= round[:game] %></td>
          <td><%= round[:round] %></td>
          <td><%= round[:correct] %></td>
          <td><%= round[:wrong] %></td>
          <td><%= round[:total] %></td>
        </tr>

        <% end %>
      </tbody>

    </table>
  </div>
</div>
