<div class="container">


  <div class="row top">
    <div class="col-md-8">
      <h2><%= @user.user_name %>'s Stats Dashboard
      <small>Global Player Stats</small>
      </h2>
    </div>

    <div class="col-md-4">
    </div>
  </div>

  <div class="row">
    <h3>Total Correct Answers</h3>
    <script id="csv" type="text/csv"><%= global_player_correct_chart %></script>

    <div class="chart">
    </div>

  </div>

  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <td><strong>Player</strong></td>
          <td><strong>Game</strong></td>
          <td><strong>Total Correct</strong></td>
          <td><strong>Total Incorrect</strong></td>
          <td><strong>Total Answered</strong></td>
        </tr>
      </thead>

      <tbody class="table-striped table-hover">
        <% User.all.each do |user| %>
        <% user_round = Round.where(user_id: @user.id) %>
          <tr>
            <td><%= user.user_name %></td>
            <td><%= deck_name(user_round.first) %></td>
            <td><%= get_total_cards_correct(user_round) %></td>
            <td><%= get_total_cards_wrong(user_round) %></td>
            <td><%= get_total_cards_played(user_round) %></td>
          </tr>
        <% end %>
      </tbody>

    </table>

  </div>
</div>
